.about {
  height: 25vh;
  background: url("@/assets/store-header.jpg") center;
}

.about h1 {
  font-size: 5rem !important;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 5px 5px black;
}

.aboutHeader {
  height: 30vh; /* 25-30% of viewport height */
  background-image: url('https://images.unsplash.com/photo-1523275335684-37898b6baf30'); /* Replace with your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutHeader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Dark overlay for text readability */
  z-index: 1;
}

.aboutHeader h1,
.aboutHeader p {
  position: relative;
  z-index: 2;
}
