.navLink {
  font-weight: 500 !important;
  color: var(--dark) !important;
}

.cartIcon {
  background-color: var(--red) !important;
  color: var(--light);
  font-size: 1.25rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.3s ease;
}

.cartIcon:hover,
.cartIcon:focus {
  background-color: var(--light) !important;
  color: var(--dark);
  box-shadow: 0 0 3px 0 var(--red);
}