.carouselImage {
  height: 91.7vh;
  object-fit: cover;
  overflow: hidden;
}

.caption {   
  color: var(--light);           
  background-color: rgba(0, 0, 0, .5);
  margin: 10rem 0;
}

.caption h3 {
  font-family: var(--primary);
  font-weight: 400;
  font-size: 5rem !important;;        
}

.caption p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .caption h3 {
    font-size: 2rem;
  }
  .caption p {
    font-size: 1rem;
    padding: 0 1rem;
  }
}
