.searchInputBox {
  border: 1px solid #000; 
  border-radius: 50px;
  padding: 0.75rem 1.25rem;
  transition: box-shadow 0.3s ease;
}

.searchInputBox:hover {
  box-shadow: 0 0 5px var(--red); /* soft red glow */
}

.searchIcon {
  color: #ff3b3b; 
  font-size: 1rem;
  margin-right: 0.75rem;
}

.customInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #000;
  /* width: 150px; */
}

.customInput::placeholder {
  color: #333;
  font-weight: 500;
  color: var(--dark) !important;
  font-size: 1.15rem;
}


