.loginIcon {
  border: 1px solid var(--red) !important;
  border-radius: 12px;
  color: var(--red);
  font-size: 1.15rem;
  font-style: normal;
  height: 45px;

  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.3s ease;
}

.loginIcon:hover,
.loginIcon:focus {
  background-color: var(--bg) !important;
  color: var(--dark);
  box-shadow: 0 0 3px 0 var(--red);
}

.loginButton {
  position: relative;
  cursor: pointer;
}
