#root {
  --primary: 'DMSans', sans-serif !important;
  --red: #ff5757;
  --bg: #fafafa;
  --light: #fff;
  --dark: #000;
  --grey: #747474;
}

body {
  font-family: var(--primary);
  color: var(--dark) !important;
}
