.imgBox {
    width: 80px;
    height: 60px;
    object-fit: cover;
}

.titleBox {
    font-weight: normal !important;
    font-size: 1rem !important;

}

.qtyBox {
    width: 5rem !important;
    border: 1px solid var(--red) !important;
    text-align: center;
}